
/* Outlines */

body,
header,
header .links,
.section,
footer,
div,
.quote,
.author,
.banner{
    border: 1px solid red;
}

.box {
    border: 5px solid #3882F6;
    border-radius: 10%;
}

/* Colors & Text Formatting */

.upper-union,
footer {
    background-color: #1f2937;
}

.section.sec-3 {
    background-color: #E5E7EB;
}

.primary {
    color: #F9FAF8;
}

.primary.text {
    font-size: 48px;
    font-weight: bolder;
}

.primary.logo {
    font-size: 24px;
}

.secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.subheader,
.quote {
    font-size: 36px;
    color: #1F2937;
}

.subheader {
    font-weight: bolder;
}

.square-subtext {
    text-align: center;
}

.quote {
    font-weight: lighter;
    font-style: italic;
}

.author {
    font-size: 20px;
    font-weight: bolder;
}

/* Margins, Padding, Dimensions, etc.*/

body {
    margin: 0;
    min-height: 98vh;
    /* width: 90%; */
}

.upper-union {
    padding: 0% 10% 5% 10%;
}

.section,
footer {
    padding: 0 10%;
}

header,
.section,
footer {
    width: 80%;
}

header,
.section.sec-1 {
    padding: 2% 0% 5% 0%;
}

.section.sec-2,
.section.sec-3,
.section.sec-4 {
    padding: 5% 0%;
}

img {
    width: 100%;
    height: auto;
}

.box {
    object-fit: cover;
    width: 140px;
    height: 140px;
}





.banner.text {
    padding: 0%;
}


/* Flex Blocks */

body,
header,
header .primary.logo,
header .secondary.links,
.section,
.left-side,
.right-side,
.upper-union,
.square-row,
.square-sec,
.subheader,
.quote,
.author,
.banner{
    display: flex;
}

/* Flex Props */

body {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.upper-union {
    flex-direction: column;
    align-items: center;
}

header {
    justify-content: space-between;
}

header .links {
    justify-content: flex-end;
    gap: 10px;
}

.section {
    flex: 1;
}

.left-side {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.primary.text {
    flex-wrap: wrap;
}

.section.sec-2{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.square-sec{
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.square-subtext {
    width: 140px;
}

.subheader {
    justify-content: center;
}

.section.sec-3 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quote {
    justify-content: flex-start;
}

.author {
    justify-content: flex-end;
}

.section.sec-4 {
    justify-content: space-between;
    align-items: center;
    justify-content: center;
}

.banner{
    justify-content: space-between;
}

.banner.text {
    justify-content: center;
    flex-direction: column;
}

